# vim
*.swp

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

config.mk
target/
src/lxa/tmp/
src/rom/*.library
src/rom/lxa.rom
src/rom/lxa.rom.bin
src/rom/lxa.rom.hunk
old
others
src/lxa/lxa.log
src/lxa/.vscode
src/tools/sfd2lib/dos.c
src/tools/sfd2lib/*.sfd
src/tools/fd2pragma/dos_fns.c
src/tools/fd2pragma/dos_mini.h
src/tools/fd2pragma/dos_stubs.c
src/tools/fd2pragma/exec_lib.fd
src/tools/fd2pragma/exec_lib.h
src/tools/fd2pragma/exec_offs.txt
src/tools/fd2pragma/offsets.txt

src/samples/cordic/
src/samples/hellobrt/hello
src/tinyrom/
src/tools/ffpmath/

tests/dos/helloworld/lxa.log
tests/dos/helloworld/helloworld
tests/exec/signal_pingpong/signal_pingpong
attic
lxa.log

# CMake build directory
build/

# Copyrighted reference material
shell_spec.md

# Compiled Amiga binaries (will be built from source)
sys/C/dir
sys/C/type
sys/C/makedir
sys/C/delete
sys/System/Shell
C/delete
C/dir
C/makedir
C/type


tests/dos/lock_examine/lock_examine
