# vim
*.swp

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

config.mk
target/
src/lxa/tmp/
src/rom/*.library
src/rom/my.rom
src/rom/amiga_rom.x
old
others
src/lxa/lxa.log
src/lxa/.vscode
src/tools/sfd2lib/dos.c
src/tools/sfd2lib/*.sfd
src/tools/fd2pragma/dos_fns.c
src/tools/fd2pragma/dos_mini.h
src/tools/fd2pragma/dos_stubs.c
src/tools/fd2pragma/exec_lib.fd
src/tools/fd2pragma/exec_lib.h
src/tools/fd2pragma/exec_offs.txt
src/tools/fd2pragma/offsets.txt
